name        = "isolated-composer-env10"
environment = "development"
project_id  = "prj-c-composer"
cmek_project_id  = "prj-c-bu3cmek-wo8w"
region      = "us-central1"
maintenance_window = {
  start_time = "2023-01-01T01:00:00Z"
  end_time   = "2023-01-01T13:00:00Z"
  recurrence = "FREQ=WEEKLY;BYDAY=SU"
}
airflow_config_overrides = { "core-dags_are_paused_at_creation" = "True" }
env_variables            = { "EXAMPLE_VAR" = "value" }
image_version            = "composer-2.5.2-airflow-2.6.3"

web_server_allowed_ip_ranges = [
  {
    value       = "192.168.100.0/24"
    description = "Office network"
  },
  {
    value       = "192.168.101.0/24"
    description = "Home network"
  }
]

github_name_prefix = "github-composer-cloudbuild"
github_app_installation_id = "APP_INSTALATION_ID_HERE"
github_api_token = "GITHUB_API_TOKEN_HERE"
github_remote_uri = "LINK_TO_GITHUB_REPO_CONTAINING_DAGS"