tensorflow-io-gcs-filesystem==0.25.0
tensorflow-io==0.25.0
google-cloud-bigquery<3.0.0,>=1.11.1
pandas==2.0.3
db-dtypes==1.2.0 
google-cloud-aiplatform==1.36.0
google-cloud-storage==2.14.0
protobuf==3.20.2

# @task.sho
# @task.branch(task_id="deployment_decision", dag=dag)
# def deploy_dec(ti=None):
#     xcom_value = ti.xcom_pull(task_ids="model_evaluation")['return_value']
#     if xcom_value == ('true',):
#         return "model_deployment"
#     else:
#         return None
# branch_op = deploy_dec()

#>> traindata_ingest_op >> wait_for_traindata_ingest_op
# bqOperator >> evaldata_ingest_op >> wait_for_evaldata_ingest_op
# [wait_for_traindata_ingest_op, wait_for_evaldata_ingest_op] >> training_op >> eval_op >> branch_op >> [deploy_op, None] >> monitoring_op

